.text-main {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/rasi\ pic\ three.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: cover;

    position: relative;
    height: 1100px;
    width: 100%;
    text-align: center;
    margin-bottom: 70px;


}

#rasi-export {
    text-align: center;
    font-size: 180%;
    background-color: green;
    padding: 2px;
    color: white;
}

.navigation-bar {
    font-size: 100%;
    justify-content: center;
    gap: 700px;
    margin-left: 100px;
    margin-bottom: 500px;
    color: white;
    text-decoration: none;
    padding-top: 100px;

}

.text-main p {
    font-size: 230%;




}

.text-main h1 {
    font-size: 500%;
    margin-top: 200px;

}

#home {
    text-decoration: none;
    padding: 52px;
    color: white;
    padding-top: 100px;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.screen {
    font-size: 300%;
    text-align: center;
}

.button {
    padding: 15px;
    border-radius: 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: 100%;
}

.button-two {
    padding: 15px;
    border-radius: 20px;
    font-size: 100%;
    margin-left: 50px;

}

.pillow-one {
    height: 250px;
    width: 200px;
    border-radius: 50px;

}

.pillow-one img {
    border-radius: 20px;

}

.section-two {
    display: flex;
    justify-content: center;
    gap: 650px;
    font-size: 110%;
    margin-top: 100px;
}

.artistry {
    margin-top: 100px;
}

.artistry h3 {

    font-size: 250%;
}

.artistry h6 {

    font-size: 150%;
}

.artistry p {

    font-size: 150%;
    color: green;
    font-size: 150%;
}

.trophy {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.quality {
    display: flex;
    gap: 10px;
}

.verify {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.warranty {
    display: flex;
    gap: 10px;
}

.shipping {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.time {
    display: flex;
    gap: 10px;
}

.customer-care {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.sustainable {
    display: flex;
    gap: 10px;
}

.rasi-values {
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 130px;
}



.techniques {
    text-align: center;

}

.techniques h2 {
    font-size: 250%;
    text-align: center;

}

.techniques p {
    font-size: 120%;
    text-align: center;
    color: gray;

}

.screen-printing {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 500px;
    gap: 100px;
    margin-left: 400px;
    margin-top: 100px;


}

.screen-printing img {
    border-radius: 20px;

}

.printing-process {
    display: flex;
    gap: 400px;
    justify-content: center;
}

.printing {
    display: flex;
    gap: 30px;
    font-size: 150%
}

.printing i {
    background-color: #D5FFFF;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 10px;
}

.printing-message {
    display: flex;
    color: gray;
    font-size: 150%;
    gap: 130px;
    justify-content: center;
}

.client {
    text-align: center;
    margin-top: 100px;

}

.client h2 {
    font-size: 250%;
    text-align: center;

}

.client p {
    font-size: 150%;
    text-align: center;
    color: gray;

}

.aditya {
    display: flex;
    gap: 30px;
    font-size: 150%
}

.aditya img {
    width: 100px;
    height: 100px;
    border-radius: 20px;

}

.client-companies {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 200px;
}

.logo-images {
    display: flex;
    width: 70px;
    height: 70px;
    gap: 120px;
    margin-left: 550px;



}

.feedback {
    margin-bottom: 200px;
}

.feedback h1 {
    font-size: 250%;


}

.feedback p {
    font-size: 150%;

}

.printing-quality {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 200px;

}



.printing-quality img {
    border-radius: 20px;
    width: 550px;
    height: 500px;

}

.sample-photos {
    height: 600px;
    width: 700px;
    display: flex;
    gap: 100px;
    margin-left: 400px;

}

.sample-photos img {
    border-radius: 20px;

}

.woman {
    width: 58%;
    height: 900px;
    margin: 0 400px auto;
    border-radius: 20px;
    margin-top: 20px;

}

.rasi-works {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.rasi-works h2 {
    font-size: 250%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.rasi-works p {
    font-size: 130%;
    text-align: center;
    color: gray;

}

.reach-out {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.reach-out h2 {
    font-size: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.reach-out p {
    font-size: 130%;
    text-align: center;
    color: gray;

}

.office-info {
    display: flex;
    margin-top: 20px;
}

.footer {
    display: flex;
    text-align: left;
    justify-content: center;
    gap: 200px;
    font-size: 140%;
    background-color: #202A44;
    color: white;
}

.phone {
    display: flex;
    gap: 30px;
    font-size: 130%;
}

.phone i {

    margin-top: 40px;
    font-size: 30px;
}

.contact-us {
    background-color: white;
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px gray;
    margin-bottom: 100px;
    position: absolute;
    margin-left: 550px;
    margin-top: 150px;

}

.contact-us h1 {
    font-size: 280%;
    font-family: Arial, Helvetica, sans-serif;

}

.map img {
    margin-bottom: 200px;
    margin-left: 500px;
    border-radius: 20px;
}

@media only screen and (max-width: 415px) {
    .text-main {

        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/rasi\ pic\ three.jpg);
        background-repeat: no-repeat;
        color: white;
        background-size: cover;
        position: relative;
        height: 400px;
        width: 100%;
        text-align: center;
        margin-bottom: 70px;


    }

    #rasi-export {
        text-align: center;
        font-size: 120%;
        background-color: green;
        padding: 1px;
        color: white;
    }

    #home {
        flex-direction: row;
        text-decoration: none;
        color: white;
        font-size: 160%;

        font-family: Arial, Helvetica, sans-serif
    }

    .navigation-bar {
        font-size: 30%;
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 50px;
        color: white;
        text-decoration: none;
        padding-top: 100px;

    }

    .text-main p {
        font-size: 250%;
    }

    .text-main h1 {
        font-size: 450%;
        margin-top: 50px;
    }

    .screen {
        font-size: 180%;
        text-align: center;
    }

    /* .pillow-one {
        height: 60px;
        width: 50px;
        border-radius: 20px;
    
    }
     */
    .pillow-one img {
        border-radius: 10px;
        margin-left: px;
        width: 100%
    }

    .section-two {
        display: flex;
        flex-wrap: wrap;
        font-size: 90%;
        margin-top: 50px;
    }

    .artistry {
        margin-left: 20px;

    }

    .artistry h3 {

        font-size: 200%;
    }

    .artistry h6 {

        font-size: 100%;
    }

    .artistry p {

        font-size: 100%;
        color: green;
    }

    .rasi-values {
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 40px;


    }

    .quality {
        gap: 2px;
    }

    .verify {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    .warranty {
        display: flex;
        gap: 10px;
    }

    .shipping {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    .time {
        display: flex;
        gap: 10px;
    }

    .customer-care {
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    .sustainable {
        display: flex;
        gap: 10px;
    }

    .techniques {
        text-align: center;

    }

    .techniques h2 {
        font-size: 200%;
        text-align: center;

    }

    .techniques p {
        font-size: 90%;
        text-align: center;
        color: gray;

    }

    .screen-printing {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 250px;
        height: 250px;
        gap: 100px;
        margin-left: 400px;
        margin-top: 100px;


    }

    .client {
        text-align: center;
        margin-top: 50px;

    }

    .client h2 {
        font-size: 200%;
        text-align: center;

    }

    .client p {
        font-size: 100%;
        text-align: center;
        color: gray;

    }

    .aditya {
        display: flex;
        gap: 30px;
        font-size: 120%
    }

    .aditya img {
        width: 70px;
        height: 70px;
        border-radius: 20px;

    }

    .client-companies {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        margin-top: 100px;
    }

    .printing-quality {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 100px;
        gap: 5px;

    }



    .printing-quality img {
        border-radius: 20px;
        width: 300px;
        height: 300px;

    }

    .feedback {
        margin-bottom: 80px;
        margin: 0 auto;
    }

    .feedback h1 {
        font-size: 200%;


    }

    .feedback p {
        font-size: 110%;

    }

    .logo-images {
        display: flex;


        gap: 9px;
        margin-left: 20px;
        margin-top: 100px;



    }

    .logo-images img {
        width: 45px;
        height: 45px;
    }

    .rasi-works {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 100px;

    }

    .rasi-works h2 {
        font-size: 200%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

    }

    .rasi-works p {
        font-size: 90%;
        text-align: center;
        color: gray;

    }

    .sample-photos {
        height: 50px;
        width: 50px;
        flex-wrap: wrap;
        gap: 50px;


    }

    .sample-photos img {
        border-radius: 20px;

    }









}